<header class="header">
    <nav class="navbar"> 
     <a href="/"><span>😄</span><span><span class="logo-text">K</span>art</span></a> 
      <ul>
        <li> <a href="/">Home</a></li>
        <li><a href="/admin/add-products">Add-product</a></li>
        <li><a href="">Cart</a></li>
      </ul>
    </nav>
</header>