<%- include('includes/meta-tags.ejs') %>
<link rel="stylesheet" href="/product.css">
</head>
<body>
    <%- include('includes/header.ejs') %>
    <main>
        <div class="all-products">
            <div class="product-container">
               
                    <img src="https://contents.mediadecathlon.com/p1484240/ab565f3675dbdd7e3c486175e2c16583/p1484240.jpg" alt="">
    
                <div class="content">
                    <h1>title </h1>
                    <span>$100</span>
                    <p>High-quality nike brand shirt pure cotton, sports-edition better than others!</p>
                </div>  
                <button class="btn" type="submit"> add to cart</button>
            </div>
            
        </div>
        
    </main>
</body>
</html>