@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
   
}

body {
    font-family: 'Noto Sans', sans-serif;
    /* position: relative; */
    position: relative;
    width: 100%;
    color: #222;
}

a {
    text-decoration: none;
}

a:visited {
    color: #222;
}

/* .header { 
  
} */

.navbar {
    top: 0;
    left: 0;
    position: sticky;
    /* max-width: 100%; */
    display: flex;
    justify-content:space-between;
    padding:1.5rem 2.5rem;
    align-items: center;
    background-color: rgb(255, 213, 0);
    border-bottom: 0.1rem solid  rgba(255, 179, 0, 0.84) ;
    box-shadow: 0 0.1rem 1rem rgba(53, 53, 53, 0.477);
}

.navbar ul {
    display: flex;
    list-style: none;
    column-gap: 2.2rem;
    font-size: 1.8rem;
    color: #333;
    margin-right: 5rem;
}

.navbar ul li {
    
    cursor: pointer;
}

.navbar ul li a {
    font-weight: 500;
    color: #333;
}

.navbar ul li a:hover {
    color: rgba(72, 72, 72, 0.735); 
}

.navbar ul li a:active {
    color: rgba(72, 72, 72, 0.735); 
}



.navbar span {
    font-size: 2.5rem;
}

.logo-text {
    color:#222;
}

@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media (max-width: 650px) {
   html {
    font-size: 50%;
   }

   .navbar {
    flex-direction: column;
    row-gap: 2.5rem;
   }
}

@media (max-width: 430px) {
    html {
        font-size: 45%;
    }
}